<!DOCTYPE html>

<div>
    <table>
        <tr>
            <td style="height: 300px; width: 100px;">
                <img id="photo" src="~/Images/me.JPG" style="height: 100%;"/> 
            </td>
            <td valign="top" style="width: 100%; padding-left: 20px;">
                <h3>Аня Владимирова</h3>
            </td>
        </tr>
    </table>   
</div>


