@model List<IGrouping<string, Library.Models.Statistic>>
<title>Статистика</title>
<div>
    @{
        foreach (var item in Model)
        {
            <p>Количество книг @item.Key: @item.ToList().ElementAt(0).Count</p>
        }
    }
</div>

