@model IEnumerable<Int32>
<title>Статистика</title>
<div>
    <p>Количество книг фэнтези: @Model.ElementAt(0)</p>
    <p>Количество книг учебник: @Model.ElementAt(1)</p>
    <p>Количество книг философский роман: @Model.ElementAt(2)</p>
</div>

